<!DOCTYPE html>

<html>

        <head>

                <title>About</title>
                <link rel="icon" href="/img/weather.png">
                <link rel="stylesheet" href="/css/styles.css">
        </head>

        <body>
            <div class="main-content">
                {{>header}}
                <p>This app uses geocoding API from mapbox.com, Reverse geocoding from HERE Maps and Weather API from Darksky.</p>
               <img class="portrait" src="/img/me.jpg">
            </div>

            {{>footer}}
        </body>


</html>